.card {
    margin: 0 auto; 
    float: none; 
    margin-bottom: 200px; 
    margin-top: 50px;
    padding-top: 30px;
    flex: 0 1 calc(25% - 1em);
    width:60%;
    height:auto;
}


* {
    font-family: 'Muli';
}